<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
